.code-container {
  position: relative;
}

.copy-code-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

.copy-code-button:active {
  background: #005fa3;
}

pre {
  margin: 0; /* Adjust as necessary */
  padding: 1em; /* Adjust as necessary */
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 0;
  margin: 0;
}
